<% layout('layouts/boilerplate')%>
<div class="card shadow my-5">
    <div class="card-body">
        <h1>Register</h1>
        <form action="/register" method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">Repeat password</label>
                <input type="password" class="form-control" id="password2" required>
            </div>
            <button class="btn btn-success">Register</button>
        </form>
    </div>
</div>
<script>
    document.querySelector("form").addEventListener("submit", function (e) {
        const password1 = document.querySelector('#password').value;
        const password2 = document.querySelector('#password2').value;
        if (password1 !== password2) {
            alert('Passwords do not match');
            e.preventDefault();
        }
    });
</script>

<script>
    const colOffsetClasses = 'col-md-6 offset-md-3 col-lg-5 offset-lg-3 col-xl-4 offset-xl-4';
</script>