<!-- <section id="flash" class="col-md-6 offset-md-3"> -->
<section id="flashContainer">
    <% if(success && success.length) {%>
    <div class="alert alert-success mt-5" role="alert">
        <%= success %>
        <% } %>
        <% if(error && error.length) {%>
        <div class="alert alert-danger mt-5" role="alert">
            <%= error %>
        </div>
        <% } %>
</section>