<div class="text-muted d-flex align-items-center justify-content-between container px-0 col-lg-10 offset-lg-1">
    <span class="d-flex">
        <span class="me-1">
            &copy;
        </span>
        <span>
            <%= new Date().getFullYear() %> TrackMyWarranties by&nbsp;<a class="text-white"
                href="https://mj-felix.github.io/" target="_blank">MJ&nbsp;Felix</a>
        </span>
    </span>
    <a href="https://www.buymeacoffee.com/mjfelix" class="btn btn-light btn-sm mx-1" target="_blank">Shout me
        a&nbsp;&#127866;</a>
</div>