<div class="text-muted container px-0 col-lg-10 offset-lg-1">
    &copy; 2021 TrackMyWarranties by <a class="text-white" href="https://www.linkedin.com/in/mjfelix/"
        target="_blank">MJ Felix</a>
</div>