<a class="navbar-brand" href="<%= !currentUser?'/':'/entries' %>">TrackMyWarranties<sup
        class="text-muted fw-light">BETA</sup></a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <% if(!currentUser) {%>
        <% if(typeof isLoginForm === 'undefined' || !isLoginForm) {%>
        <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
        </li>
        <% } %>
        <% if(typeof isRegisterForm === 'undefined' || !isRegisterForm) {%>
        <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
        </li>
        <% } %>
        <% } else {%>
        <% if(typeof isAllEntries === 'undefined' || !isAllEntries) {%>
        <li class="nav-item">
            <a class="nav-link" href="/entries">All Warranties</a>
        </li>
        <% } %>
        <% if(typeof isNewEntryForm === 'undefined' || !isNewEntryForm) {%>
        <li class="nav-item">
            <a class="nav-link" href="/entries/new">Add New Warranty</a>
        </li>
        <% } %>
        <% if(typeof isProfile === 'undefined' || !isProfile) {%>
        <li class="nav-item">
            <a class="nav-link" href="/user">Profile</a>
        </li>
        <% } %>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
        <% } %>
    </ul>
    <!-- <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
</div>