<% layout('layouts/boilerplate')%>
<div class="container col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4" id="mainContainer">
    <div class="alert alert-success mt-5" role="alert">
        <%= success %>
    </div>
</div>