main > .container {
  padding: 40px 15px 0;
}

#flash {
    transition: opacity 1s;
}

.btn-outline-primary {
  display: none;
}

@media (max-width: 767px){
    .btn-outline-primary {
      display: block;
    }
}