/* body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)),
    url("https://images.unsplash.com/photo-1545941962-1b6654eb8072?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2800&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 1);

}
.cover-container {
  max-width: 60vw;
}

@media (max-width: 670px){
    .lead {
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.02em;
    }

    h1 {
        font-size: 2.2rem;
    }
} */

/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)),
    url("https://images.unsplash.com/photo-1545941962-1b6654eb8072?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2800&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 1);

}

.cover-container {
  max-width: 42em;
}